build
node_modules
.vscode
.antlr
test/archive
www/catalog/assets
www/catalog/catalog.css
www/catalog/catalog.css.map
www/catalog/catalog.js
www/catalog/catalog.js.map
www/shell.css
www/shell.css.map
www/shell.js
www/shell.js.map
www/editor.worker.js
www/*.ttf