:root {
  --qbc-black: #000000;
  --qbc-blue: #0000aa;
  --qbc-green: #00aa00;
  --qbc-cyan: #00aaaa;
  --qbc-red: #aa0000;
  --qbc-magenta: #aa00aa;
  --qbc-brown: #aa5500;
  --qbc-light-gray: #aaaaaa;
  --qbc-dark-gray: #555555;
  --qbc-high-blue: #5555ff;
  --qbc-high-green: #55ff55;
  --qbc-high-cyan: #55ffff;
  --qbc-high-red: #ff5555;
  --qbc-high-magenta: #ff55ff;
  --qbc-yellow: #ffff55;
  --qbc-white: #ffffff;
  --qbc-paper-font: rgb(0, 0, 0);
  --qbc-paper-green: rgb(180, 203, 193);
  --qbc-paper-white: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Web IBM VGA 8x16';
  font-style: normal;
  font-weight: normal;
  src: url(/WebPlus_IBM_VGA_8x16.woff) format('woff');
}

body {
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
  font-family: 'Web IBM VGA 8x16';
  font-size: 22px;
}

.program-card {
  display: inline-flex;
  padding: 20px;
  border: 1px solid var(--qbc-brown);
  width: 700px;
}

.stamp {
  cursor: pointer;
}

.tags {
  font-size: 16px;
  margin-bottom: 22px;
}

.name, .title {
  color: var(--qbc-white);
}

.screenshot {
  width: 320px;
}

.screenshot-image {
  object-fit: cover;
  width: 320px;
}

.controls, .specs, .notes {
  white-space: pre;
}