:root {
  --qbc-black: #000000;
  --qbc-blue: #0000b0;
  --qbc-green: #00b000;
  --qbc-cyan: #00b0b0;
  --qbc-red: #b00000;
  --qbc-magenta: #b000b0;
  --qbc-brown: #b08000;
  --qbc-light-gray: #c0c0c0;
  --qbc-dark-gray: #b0b0b0;
  --qbc-high-blue: #0000ff;
  --qbc-high-green: #00ff00;
  --qbc-high-cyan: #00ffff;
  --qbc-high-red: #ff0000;
  --qbc-high-magenta: #ff00ff;
  --qbc-yellow: #ffff00;
  --qbc-white: #ffffff;
}

@font-face {
  font-family: 'Web IBM VGA 8x16';
  font-style: normal;
  font-weight: 400;
  src: url(web_ibm_vga_8x16.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
  font-family: 'Web IBM VGA 8x16';
  font-size: 22px;
}

.toolbar {
  background: var(--qbc-light-gray);
  width: 644px;
  padding: 0 8px;
}

.status-line {
  color: var(--qbc-white);
  background: var(--qbc-cyan);
  width: 644px;
  padding: 0 8px;
}

button {
  background: var(--qbc-light-gray);
  color: var(--qbc-black);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  border: none;
  margin: 0;
  padding: 0 4px;
}

button:active {
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
}

.code-box {
  background: var(--qbc-blue);
  padding: 8px 4px;
  width: 652px;
}

.code-pane::selection {
  background: var(--qbc-light-gray);
  color: var(--qbc-blue);
}

.code-pane {
  /* 80 rows by 25 columns */
  width: 640px;
  height: 400px;
  padding: 8px 4px;
  border-color: var(--qbc-light-gray);
  border-style: solid;
  border-width: 1px 1.6px;
  white-space: pre;
  overflow: auto;
}

.code-pane:focus {
  outline: none;
}

.error {
  position: relative;
  text-decoration: 2px var(--qbc-red) wavy underline;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.tooltip-text {
  animation: fade-in 100ms ease-in;
  position: absolute;
  z-index: 1;
  left: 0;
  background: var(--qbc-magenta);
  color: var(--qbc-white);
  border: 2px dotted var(--qbc-blue);
  padding-right: 8px;
}