:root {
  --qbc-black: #000000;
  --qbc-blue: #0000aa;
  --qbc-green: #00aa00;
  --qbc-cyan: #00aaaa;
  --qbc-red: #aa0000;
  --qbc-magenta: #aa00aa;
  --qbc-brown: #aa5500;
  --qbc-light-gray: #aaaaaa;
  --qbc-dark-gray: #555555;
  --qbc-high-blue: #5555ff;
  --qbc-high-green: #55ff55;
  --qbc-high-cyan: #55ffff;
  --qbc-high-red: #ff5555;
  --qbc-high-magenta: #ff55ff;
  --qbc-yellow: #ffff55;
  --qbc-white: #ffffff;
  --qbc-paper-font: rgb(0, 0, 0);
  --qbc-paper-green: rgb(180, 203, 193);
  --qbc-paper-white: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Web IBM VGA 9x16';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x16.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 9x14';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x14.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 9x8';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x8.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 8x16';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_8x16.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 8x14';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_8x14.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
  font-family: 'Web IBM VGA 8x16';
  font-size: 22px;
}

.toolbar {
  display: flex;
  background: var(--qbc-light-gray);
  gap: 8px;
  min-width: 644px;
  padding: 0 8px;
}

.status-line {
  color: var(--qbc-white);
  background: var(--qbc-cyan);
  min-width: 644px;
  padding: 0 8px;
}

button {
  background: var(--qbc-light-gray);
  color: var(--qbc-black);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  border: none;
  margin: 0;
  padding: 0 4px;
}

button:active {
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
}

.sound-enabled .play-button {
  display: none;
}
.mute-button {
  display: none;
}
.sound-enabled .mute-button {
  display: block;
}

.running .run-button,
.running .run-hint {
  display: none;
}

.stop-button, .stop-hint {
  display: none;
}
.running .stop-button,
.running .stop-hint {
  display: block;
}

.code-box {
  background: var(--qbc-blue);
  padding: 8px 4px;
  min-width: 652px;
}

.code-pane::selection {
  background: var(--qbc-light-gray);
  color: var(--qbc-blue);
}

.code-pane {
  min-width: 640px;
  height: calc(100vh - 84px);
  padding: 8px 4px;
  border-color: var(--qbc-light-gray);
  border-style: solid;
  border-width: 1px 1.6px;
  white-space: pre;
  overflow: auto;
}

.code-pane:focus {
  outline: none;
}

.error {
  position: relative;
  text-decoration: 2px var(--qbc-red) wavy underline;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.tooltip-text {
  animation: fade-in 100ms ease-in;
  position: absolute;
  z-index: 1;
  left: 0;
  background: var(--qbc-magenta);
  color: var(--qbc-white);
  border: 2px dotted var(--qbc-blue);
  padding-right: 8px;
  user-select: none;
  pointer-events: none;
}

@font-face {
  font-family: 'DotMatrix Regular';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Regular.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix Bold';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Bold.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix Italic';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Italic.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-BoldItalic.woff2) format('woff');
}

.shell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.editor {
  grid-column-start: 2;
  grid-row-start: 1;
}

.paper-window {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.paper-window:hover {
  opacity: 0.9;
}

.screen {
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  transform-origin: left top;
  margin: 9px;
  border: 3px solid #000;
}

.screen:focus {
  outline: 1px dotted red;
}

.paper-window {
  height: 200px;
  overflow: auto;
}

.paper {
  background: repeating-linear-gradient(
    180deg,
    var(--qbc-paper-green),
    var(--qbc-paper-green) 32px,
    var(--qbc-paper-white) 32px,
    var(--qbc-paper-white) 64px);
  font-family: 'DotMatrix Regular';
  font-size: 16px;
  width: calc(10px * 80);
  white-space: pre;
  padding: 0 60px;
  color: var(--qbc-paper-font);
  min-height: 800px;
  position: relative;
}

.paper .bold {
  font-family: 'DotMatrix Bold';
}

.paper .italic {
  font-family: 'DotMatrix Italic';
}

.paper .bold.italic {
  font-family: 'DotMatrix BoldItalic';
}

.track {
  background: radial-gradient(ellipse at center, #000000 0%, #000000 30%, white 40%, white);
  background-size: 30px 30px;
  background-repeat: repeat-y;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
}