:root {
  --qbc-black: #000000;
  --qbc-blue: #0000aa;
  --qbc-green: #00aa00;
  --qbc-cyan: #00aaaa;
  --qbc-red: #aa0000;
  --qbc-magenta: #aa00aa;
  --qbc-brown: #aa5500;
  --qbc-light-gray: #aaaaaa;
  --qbc-dark-gray: #555555;
  --qbc-high-blue: #5555ff;
  --qbc-high-green: #55ff55;
  --qbc-high-cyan: #55ffff;
  --qbc-high-red: #ff5555;
  --qbc-high-magenta: #ff55ff;
  --qbc-yellow: #ffff55;
  --qbc-white: #ffffff;
  --qbc-paper-font: rgb(0, 0, 0);
  --qbc-paper-green: rgb(180, 203, 193);
  --qbc-paper-white: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Web IBM VGA 9x16';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x16.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 9x14';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x14.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 9x8';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_9x8.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 8x16';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_8x16.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM VGA 8x14';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_VGA_8x14.woff) format('woff');
}

@font-face {
  font-family: 'Web IBM EGA 8x8';
  font-style: normal;
  font-weight: normal;
  src: url(WebPlus_IBM_EGA_8x8.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: var(--qbc-black);
  color: var(--qbc-light-gray);
  font-family: 'Web IBM VGA 8x16';
  font-size: 22px;
}

@font-face {
  font-family: 'DotMatrix Regular';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Regular.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix Bold';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Bold.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix Italic';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-Italic.woff2) format('woff');
}

@font-face {
  font-family: 'DotMatrix BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url(DotMatrix-BoldItalic.woff2) format('woff');
}

.shell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.editor-pane {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  max-width: 50vw;
  border-inline-end: 2px solid var(--qbc-dark-gray);
}

.toolbar {
  display: flex;
  gap: 2px;
  background: var(--qbc-high-blue);
}

.toolbar-button {
  background: transparent;
  border: 0;
}

.help {
  margin-left: auto;
}

.help-pane {
  position: relative;
  display: none;
  min-height: 50vh;
}

.help-shown .help-pane {
  display: block;
}

.close-help {
  position: absolute;
  right: 4px;
  top: 4px;
  background: transparent;
  border: 0;
}

.pop-out-help {
  position: absolute;
  right: 28px;
  top: 4px;
  background: transparent;
  border: 0;
}

.help-iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 2px;
}

.resume, .pause {
  display: none;
}
.running .pause, .paused .resume {
  display: block;
}

.step, .step-over, .blocked .pause {
  opacity: 0.5;
}
.paused .step, .paused .step-over {
  opacity: 1;
}

.editor {
  flex: 1;
}

.help-shown .editor {
  max-height: 50vh;
}

input[type="file"] {
  display: none;
}

.file-picker {
  height: 200px;
  overflow: scroll;
}

.file-picker-item {
  cursor: pointer;
}

.file-picker-item:hover {
  color: var(--qbc-black);
  background: var(--qbc-light-gray);
}

.breakpoint-icon {
  background: var(--qbc-high-red);
  clip-path: circle(15%);
}

.hover-breakpoint-icon {
  background: var(--qbc-red);
  clip-path: circle(15%);
}

.pause-line {
  background: var(--qbc-magenta);
}

.paper-window {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  /* Above monaco's minimap */
  z-index: 5;
}

.paper-window:hover {
  opacity: 0.9;
}

.midi-player {
  display: none;
}

.status-bar {
  font-size: 12px;
  padding: 8px 8px 0;
}

.status-scroll, .status-num, .status-insert {
  cursor: pointer;
}

.key-status {
  color: var(--qbc-dark-gray);
  background: var(--qbc-black);
  display: inline-flex;
  gap: 8px;
}

.key-on {
  color: var(--qbc-green);
}

.speed-spinner {
  background: var(--qbc-dark-gray);
  font-family: 'Web IBM VGA 8x16';
}

.screen {
  cursor: none;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  transform-origin: left top;
  margin: 9px;
  border: 3px solid #000;
}

.screen:focus {
  outline: 1px dotted red;
}

.paper-window {
  height: 200px;
  overflow: auto;
}

.paper {
  background: repeating-linear-gradient(
    180deg,
    var(--qbc-paper-green),
    var(--qbc-paper-green) 32px,
    var(--qbc-paper-white) 32px,
    var(--qbc-paper-white) 64px);
  font-family: 'DotMatrix Regular';
  font-size: 16px;
  width: calc(10px * 80);
  white-space: pre;
  padding: 0 60px;
  color: var(--qbc-paper-font);
  min-height: 800px;
  position: relative;
}

.paper .bold {
  font-family: 'DotMatrix Bold';
}

.paper .italic {
  font-family: 'DotMatrix Italic';
}

.paper .bold.italic {
  font-family: 'DotMatrix BoldItalic';
}

.track {
  background: radial-gradient(ellipse at center, #000000 0%, #000000 30%, white 40%, white);
  background-size: 30px 30px;
  background-repeat: repeat-y;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
}